[submodule "stationapi"]
	path = stationapi
	url = https://github.com/Galaxies-Reborn/stationapi.git
[submodule "dsrc"]
	path = dsrc
	url = https://github.com/Galaxies-Reborn/dsrc.git
	branch = x64-dx11-pre-cu
[submodule "src"]
	path = src
	url = https://github.com/Galaxies-Reborn/src.git
	branch = x64-dx11-pre-cu
[submodule "serverdata"]
	path = serverdata
	url = https://github.com/Galaxies-Reborn/serverdata.git
	branch = x64-dx11-pre-cu
[submodule "exe"]
	path = exe
	url = https://github.com/Galaxies-Reborn/configs.git
	ignore = dirty

