.gitattributes text eol=lf
*.sh text eol=lf
Dockerfile* text eol=lf
docker-compose*.yml text eol=lf
docs/*.md text eol=lf
restoration/patches/**/*.patch text eol=lf -whitespace
docker/entrypoint.sh text eol=lf
